:root {
    --bg: rgba(255, 255, 255, 0.5);
    --border: 1px solid #ccc;
    --font: #333;
}

/* Geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font);
    opacity: 1;
}

body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;
}

button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.05s;
}

button:hover>i {
    color: var(--border);
    transition: 0.1s;}

button i {
    pointer-events: none;
    color: var(--font);
    font-weight: bold;
}

input,
select {
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 20px;
}

.hide {
    display: none;
}

/* Todo Header */
.container {
    max-width: 450px;
    margin: 3rem auto 03rem;
    padding: 1.5rem;
    border: var(--border);
    border-radius: 15px;
    /* Glass effect */
    background: var(--bg);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}

.container header {
    display: flex;
    justify-content: center;
    padding: 0 1rem 1rem;
    border-bottom: var(--border);
}

/* Todo Form */
#todo-form,
#edit-form {
    padding: 1rem;
    border-bottom: var(--border);
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#todo-form button {
    padding: 0 5px 5px 5px;
}

#todo-form button i {
    font-size: 1.5rem;
    font-weight: bolder;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-left: 2rem;
    color: var(--font);
}

/* Todo Toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: var(--border);
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: var(--border);
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* Todo List */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    border: var(--border);
    border-radius: 50px;
    transition: 0.3s;
    margin-top: 15px;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background: var(--border);
}

.done h3 {
    color: #26996d;
}

.link-button {
    background: var(--bg);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: var(--border);
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 5px 10px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.link-button:hover {
    cursor: pointer;
}

/* Config.html */
#settings {
    display: none;
}

.theme,
.bg-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: var(--border);
}

.bg-image {
    flex-direction: column;
}

.bg-image span {
    display: flex;
    flex-direction: column;
}

#submit-config {
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
}

#submit-config button {
    border: var(--border);
    border-radius: 20px;
    font-size: medium;
    padding: 5px 20px;
    transition: 0.1s;
}

#submit-config button:hover {
    background-color: var(--bg);
    transition: 0.1s;
}

.option {
    background-color: var(--bg);
    color: var(--font);
}

select,
input {
    background-color: var(--bg);
}

label {
    border: var(--border);
    padding: .5em 1em;
    border-radius: 3em;
}

label:hover {
    cursor: pointer;
    background-color: var(--bg);
}

#input {
    display: none;
}